<div class="modal-dialog">
    <div class="modal-content">
        <form>
            <div class="modal-header">
                <h3>Edit Item</h3></div>
            <div class="modal-body">
                <input type="text" ng-model="edittitle" placeholder="Title">
                <input type="text" ng-model="editauthor" placeholder="Author">
                <input type="text" ng-model="editlike" placeholder="Like">
                <input type="text" ng-model="editcomment" placeholder="Comment">
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="editsubmit()">submit</button>
                <button type="button" ng-click="editcancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
