

<body>
  <script type="text/javascript">
        var app = angular.module('dbApp', [])
        app.controller('MyController', function ($scope) {
            $scope.CurrentDate = new Date();
            $scope.toggle = function() {
             $scope.myStyle={'border-left':'3px solid #FF3300','color':'#FF3300'};
             $scope.myStyle1={'border-left':'none'}; 
             $scope.myStyle2={'border-left':'none'}; 
             $scope.myStyle3={'border-left':'none'};
             $scope.linkStyle={'color':'#FF3300'};
             $scope.linkStyle1={'color':'black'};
             $scope.linkStyle2={'color':'black'};
             $scope.linkStyle3={'color':'black'};
            };
            $scope.toggle1 = function() {
             $scope.myStyle1={'border-left':'3px solid #FF3300','color':'#FF3300'};
             $scope.myStyle={'border-left':'none'}; 
             $scope.myStyle2={'border-left':'none'}; 
             $scope.myStyle3={'border-left':'none'};
             $scope.linkStyle1={'color':'#FF3300'};
             $scope.linkStyle={'color':'black'};
             $scope.linkStyle2={'color':'black'};
             $scope.linkStyle3={'color':'black'};
            }
            $scope.toggle2 = function() {
             $scope.myStyle2={'border-left':'3px solid #FF3300','color':'#FF3300'};
             $scope.myStyle={'border-left':'none'}; 
             $scope.myStyle1={'border-left':'none'}; 
             $scope.myStyle3={'border-left':'none'};
             $scope.linkStyle2={'color':'#FF3300'};
             $scope.linkStyle={'color':'black'};
             $scope.linkStyle1={'color':'black'};
             $scope.linkStyle3={'color':'black'};
            }
            $scope.toggle3 = function() {
             $scope.myStyle3={'border-left':'3px solid #FF3300','color':'#FF3300'};
             $scope.myStyle={'border-left':'none'}; 
             $scope.myStyle2={'border-left':'none'}; 
             $scope.myStyle1={'border-left':'none'};
             $scope.linkStyle3={'color':'#FF3300'};
             $scope.linkStyle1={'color':'black'};
             $scope.linkStyle2={'color':'black'};
             $scope.linkStyle={'color':'black'};
            }
        });
    </script>
    <div class="container" ng-app="dbApp" ng-controller="MyController">
        <div class="row">
            <nav class="navbar navbar-default">
              <ul id="bignav">
                <li id="nav"><img src="../assets/images/app/logo.png"></li>
                <li id="nav"><span></span></li>
                <li id="nav"><span>{{CurrentDate | date:'MM/dd/yyyy'}}</span></li>
                <li id="nav"><button class="btn btn-default">Log Out</button></li>
              </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-3 col-sx-0 col-sm-0" ng-app="">
                <ul>
                    <li class="glyphicon glyphicon-cloud" ng-style="myStyle" ng-click="toggle()"><a ng-style="linkStyle" id="link" href="">Overview</a></li>
                    <br>
                    <li class="glyphicon glyphicon-tags" ng-style="myStyle1" ng-click="toggle1()"><a ng-style="linkStyle1" id="link" href="" ui-sref="root.work">Work</a></li>
                    <br>
                    <li class="glyphicon glyphicon-tint" ng-style="myStyle2" ng-click="toggle2()"><a ng-style="linkStyle2" id="link" href="">Producer</a></li>
                    <br>
                    <li class="glyphicon glyphicon-th-large" ng-style="myStyle3" ng-click="toggle3()"><a ng-style="linkStyle3" id="link" href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-8 col-sx-12 col-sm-12">55555555555
                <ui-view></ui-view>
            </div>
        </div>
        
    </div>
</body>


