<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select Design<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-model=""><a href="">List</a></li>
                <li ng-model=""><a href="">Card</a></li>
            </ul>
            <button type="button" class="btn btn-default">Add Item</button>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Name">
            <input type="text" class="form-control" placeholder="Author">
            <input type="text" class="form-control" placeholder="Like">
            <input type="text" class="form-control" placeholder="Comment">
        </form>
    </div>
</div>
