/*addit{
	border-right:none;
}*/
.input-group-addon {
  /*color: white;*/
  background-color: white;
  

}
#icon{
    padding-right: 30px;

}
.form-horizontal{
	margin-left: 25px;
	margin-right: 10px;
}
.form-group .input-group{
	/*margin-bottom: 15px;*/
}
.form-group select{
	/*margin-bottom: 15px;*/
}
.btn-info{
	float: left;
}

.alert-success{
	margin-bottom: 0px;
}